// app global css in SCSS form
section {
    margin: 4px 0 4px 0;
}

.text-xs {
  font-size: 10px;
}

.text-sm {
    font-size: 12px;
}

.text-md {
    font-size: 14px;
}

.text-xl {
    font-size: 18px;
}

.text-xxl {
  font-size: 20px;
}

p {
    margin: 0;
    padding: 0;
}

.section-intro-bg-primary {
    background-color: #E1F5FE;
}

.text-desc-color {
    color: #3F51B5;
}

.rounded-xl {
    border-radius: 20px;
}

.section-1-bg-primary {
    color: #3700B3;
}

.section-1-bg-secondary {
    color: #9FA8DA;
}

.section-1-text-primary {
    color: #3700B3;
}

.section-1-text-secondary {
    color: #9FA8DA;
}
