// app global css in SCSS form
section {
    margin: 4px 0 4px 0;
}

.text-xs {
  font-size: 10px;
}

.text-sm {
    font-size: 12px;
}

.text-md {
    font-size: 14px;
}

.text-xl {
    font-size: 18px;
}

.text-xxl {
  font-size: 20px;
}

p {
    margin: 0;
    padding: 0;
}

.text-harris {
    color: #3ee6b4;
}

.rounded-xl {
    border-radius: 20px;
}
